@media screen and (max-width:1000px) {
    body {
        background-color: #ffffff;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .logo {
        justify-content: center;
        margin: 12px 0;
    }
    nav ul {
        height: 61px;
        justify-content: center;
    }
    .search {
        justify-content: center;
    }
    .search input {
        margin: 12px 16px;
    }
    .slider {
        height: 58vh;
    }
    .card-item {
        width: 115px;
    }
}